h1, h2, h3, p {
  font-family: Trebuchet MS;
  color: #C32148;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  font-style: italic;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  border: 5px #C32148;
  border-radius: 10px;
  background: #C32148;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #DE3163, #DE5D83, #FFB7C5, #FFD1DC);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #DE3163, #DE5D83, #FFB7C5, #FFD1DC);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #DE3163, #DE5D83, #FFB7C5, #FFD1DC);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #DE3163, #DE5D83, #FFB7C5, #FFD1DC);
  /* Standard syntax (must be last) */
}

.leftcontainer {
  padding: 20px;
  width: 40%;
  display: inline-block;
}

.introduction {
  width: 80%;
  padding: 0 10px;
}

.playingField {
  text-align: center;
  width: 60%;
  display: block;
  padding: 20px;
}

.scorecard {
  display: inline-block;
  width: 80%;
  padding: 10px;
}

.lives {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 70px;
}

li {
  float: left;
}

.heart {
  width: 40px;
  margin: 0px 5px;
}

.score {
  display: inline-block;
  width: 100%;
}

.points {
  font-weight: lighter;
  margin-left: 20px;
}

.highscore {
  font-weight: bold;
  color: gold;
}

.star {
  width: 40px;
  float: left;
  margin-right: 20px;
  margin-top: -15px;
}

.gemBlueAmount {
  display: inline-block;
  width: 100%;
  min-height: 70px;
}

.gemGreenAmount {
  display: inline-block;
  width: 100%;
  min-height: 70px;
}

.gemOrangeAmount {
  display: inline-block;
  width: 100%;
  min-height: 70px;
}

.gemImage {
  width: 40px;
  float: left;
  margin-right: 20px;
  margin-top: -15px;
}

.pointsBlue {
  font-weight: lighter;
  margin-left: 20px;
}

.pointsGreen {
  font-weight: lighter;
  margin-left: 20px;
}

.pointsOrange {
  font-weight: lighter;
  margin-left: 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgb(195, 33, 72, 0.7);
  /* Fallback color */
}

.modal-content {
  position: fixed;
  /* Stay in place */
  z-index: 20;
  /* Sit on top */
  left: 30%;
  right: 30%;
  top: 25%;
  width: 40%;
  /* Full width */
  height: auto;
  border-width: 5px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  background-color: #ffd700;
  padding-top: 20px;
}

.button01 {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #C32148;
  color: #ffd700;
}

.blink h1 {
  font-family: Courier;
  font-size: 40px;
  font-weight: bolder;
}
